@charset "utf-8";
/* CSS Document */
body{
    overflow:hidden;
    background: url("../images/bg1.png") repeat #bbb;
    color:#333;
    font-weight:400;
    -webkit-font-smoothing: antialiased;
    margin: 0;
}
/*底部导航*/
a{
    text-decoration:none;
}
.box{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    font-family:"Josefin slab","Myriad",Arial,sans-sefir;
}
.box input:not(:last-child),.box a{
    width:20%;
    height:34px;
    line-height:34px;
    position:fixed;
    bottom:0;
    cursor: pointer;//光标变成手型
}
.box input:not(:last-child){
    opacity:0;
    z-index:1000;
}
.box a{
    z-index:10;
    font-weight: bolder;
    font-size:16px;
    background:#888;
    text-align:center;
    color:#FFF;
    text-shadow:1px 1px 1px rgba(80,80,80,0.3);
}
#btn1,#btn1 + a,#slide1{
    left:0%;
}
#btn2,#btn2 + a,#slide2{
    left:20%;
}
#btn3,#btn3 + a,#slide3{
    left:40%;
}
#btn4,#btn4+ a,#slide4{
    left:60%;
}
#btn5,#btn5 + a,#slide5{
    left:80%;
}
.box input:checked + a,
.box input:checked:hover + a{
    background:#666;
}
.box input:checked + a:after{
    content:"";
    width:0;
    height:0;
    overflow: hidden;
    border:20px solid transparent;
    border-bottom-color:#666;
    position:absolute;
    bottom:100%;
    left:50%;
    margin-left:-20px;
}
.box input:hover + a{
    background:#aaa;
}
/*内容全局*/
.content, .sub{
    position: relative;
    width: 100%;
    height:100%;
}
.content{
    left:0
    top:0;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    webkit-transition: all 1s ease-in-out;
    -webkit-webkit-transition : all 1s ease-in-out;
    -moz-webkit-transition: all 1s ease-in-out;
    -ms-webkit-transition: all 1s ease-in-out;
    -o-webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;//动画由慢到快到慢向上平滑
}
.sub{
    overflow: hidden;
}
#btn1:checked ~ .content{
    -webkit-transform:translateY(0%);
    -moz-transform:translateY(0%);
    -o-transform:translateY(0%);
    -ms-transform:translateY(0%);
    transform:translateY(0%);
}
#btn2:checked ~ .content{
    -webkit-transform:translateY(-100%);
    -moz-transform:translateY(-100%);
    -o-transform:translateY(-100%);
    -ms-transform:translateY(-100%);
    transform:translateY(-100%);
}
#btn3:checked ~ .content{
    -webkit-transform:translateY(-200%);
    -moz-transform:translateY(-200%);
    -o-transform:translateY(-200%);
    -ms-transform:translateY(-200%);
    transform:translateY(-200%);
}
#btn4:checked ~ .content{
    -webkit-transform:translateY(-300%);
    -moz-transform:translateY(-300%);
    -o-transform:translateY(-300%);
    -ms-transform:translateY(-300%);
    transform:translateY(-300%);
}
#btn5:checked ~ .content{
    -webkit-transform:translateY(-400%);
    -moz-transform:translateY(-400%);
    -o-transform:translateY(-400%);
    -ms-transform:translateY(-400%);
    transform:translateY(-400%);
}
.sub h2 {
    font-size: 52px;
    line-height: 52px;
    text-align: center;
    font-weight: 700;
    width: 80%;
    position: absolute;
    left: 10%;
    margin: 0;
    padding: 0;
    padding-top: 25px;
    text-shadow: 1px 1px 1px rgba(100,100,100,0.3);
}
/*第一页*/
#sub1 audio{
    display: none;
}
#sub1 img{
    width: 90%;
    height: auto;
    position: absolute;
    left: 5%;
    top: 5%;
    z-index: 0;
}
#sub1 p{
    width: 66%;
    height: 10%;
    font-weight: 700;
    background: #ddd;
    position: absolute;
    top:65%;
    left:17%;
    font-size: 38px;
    padding-top: 20px;
    opacity: 0;
    z-index: 1;
    text-align: center;
}
/*第二页*/
#sub2{
    background: url("../images/bg2.jpg") 100% 17% repeat-x;

}
#sub2 h2{
    z-index: 2;
}
#sub2 .ban{
    position: absolute;
    width: 100%;
    padding: 40px;
    background-image: -webkit-linear-gradient(top,#2096AD,#eee 100%);
}
#box2{
    width: 96%;
    position: relative;
    height: 70%;
    top: 15%;
    left: 2%;
    color: #fff;
    line-height: 25px;
}
#box2 .about{
    position: absolute;
    width: 23%;
    height: 98%;
    margin: 1%;
    font-family: "微软雅黑";
}
#origin{
    left:0%;
    background:#74A2AF;
}
#history{
    left:25%;
    background:#6DCAAE;
}
#genres{
    left:50%;
    background:#CEB65D;
}
#award{
    left:75%;
    background:#C67693;
}
#box2 h3,#origin p {
    margin:10px;
}
.about ul,#origin p{
    height: 30%;
    margin:20px 10px;
}
#box2 h3{
    font-family:"Josefin slab","Myriad",Arial,sans-sefir!important;
    font-size: 18px!important;
}
#box2 .about img{
    width: 100%;
}
#genres span{
    display: block;
    float: left;
    margin-top: 5px;
}
#genres li,#history li,#award li{
    list-style: none;
    margin-left: -40px;
}
#box2 input{
    float: right;
    margin: 10px;
    box-shadow: none;
    border: 0;
    width: 30%;
    height: 7%;
}
#box2 input:hover,button:hover{
    background: #333;
    color: #eee;
    cursor: pointer;
}
#sub2 .div2{
    position: absolute;
    width: 78%;
    height: 72%;
    top: 6%;
    left: 10%;
    opacity: 0;
    background:cornflowerblue;
    line-height: 24px;
    padding: 10px;
    font-family: "微软雅黑";
}
#sub2 button{
    position: absolute;
    right: 15px;
    bottom: 15px;
    width: 8%;
    padding: 7px;
    box-shadow: none;
    border: 0;
}
#cvr{
    position: absolute;
    width: 100%;
    heihgt:100%;
    top: 0;
    left: 0;
    bottom:0;
    opacity: 0.5;
}
/*第三页*/
#box3,#box3 *{
    margin: 0;
    padding: 0;
}
#photo{
    width: 65%;
    height: 520px;
    background-size: 100% 520px;
    margin-top: 79px;
    position: relative;
    overflow: hidden;
}
.bton{
    display: block;
    width: 60px;
    height: 45px;
    cursor: pointer;
    background:#ddd;
    border-radius: 10%;
    position: absolute;
    top:390px;
    z-index: 2;
    text-align: center;
    font-size: 22px;
    font-weight: 900;
}
.btn :hover{
    background: #333;
    color: #ddd;
}
.lbtn{
    left:6%;
}
.rbtn{
    right:7%;
}
#photo ul{ list-style: none;}
#photo ul li{ position: absolute;}
#photo ul li img{
    width: 99%;
    height: 100%;
}
#photo ul li.n2{ width:22%; height:29%; top:97px; left:5%; }
#photo ul li.n3{ width:90%; height:84%; top:16px; left:5%; }
#photo ul li.n4{ width:22%; height:29%; top:97px; left:103%; }
#photo ul li.wait{display: none;}
.n3{
    position: absolute;
    z-index: 1;
}
.n2 p,.n4 .right,.n2 .right{
    position: absolute;
    z-index: -2;
    opacity: 0;
}
.n3 .right{
    position: fixed;
    right: 2%;
    width: 30%;
    height: 75%;
    line-height: 32px;
}
.n3 p{
    line-height: 26px;
    position: absolute;
    left: 1%;
    font-family: "微软雅黑";
}
.right li{
    position: inherit!important;
    font-family: "微软雅黑";
}
/*第四页*/
#sub4 *{
    margin:0;
    padding:0;
}
#sub4{
    cursor: pointer;
}
figure{
    position:relative;
    width:33.333333%;
    overflow:hidden;
    height:32%;
    float:left;
}
figcaption{
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0;
    left: 0;
    color:#eee;
    font-family:"微软雅黑";
}
figure img {
    opacity: 0.9;
    transition: all 0.5s;
}
figure p{
    transition:all 0.8s;
    font-size: 20px;
    text-align: center;
    position: absolute;
    bottom: 30%;
    left: 40%;
}
.test1{
    background:#472215;
}
.test2{
    background:#E2836D;
}
.test3{
    background:#545A74;
}
.test4{
    background:#C1700D;
}
.test5{
    background:#402E21;
}
.test6{
    background:#B59A5B;
}
.test7{
    background:#5E5C6A;
}
.test8{
    background:#2C3D85;
}
.test9{
    background:#0464C4;
}
/*第一张和第九张图*/
.test1 figcaption p,
.test9 figcaption p{
    transform:translate(-470%,0);
}
.test1 img,
.test9 img{
    width: auto!important;
}
.test1:hover figcaption p,
.test9:hover figcaption p{
    transform:translate(0,0);
}
.test1:hover img,
.test9:hover img{
    transform:translate(-7%,0);
    opacity:0.5;
}
/*第二和第八张图*/
.test2 figcaption,.test8 figcaption{width:100%;height:100%;}
.test2 figcaption div,
.test8 figcaption div{
    border:2px solid #DAB474;
    width:60%;
    height:36%;
    position:absolute;
    bottom:20%;
    left:20%;
    transform:translate(0,-250%) rotate(0deg);
    transition: all 0.5s;
}
.test2 figcaption p,
.test8 figcaption p{transform:translate(0,150%);opacity:0;}
.test2:hover figcaption div,
.test8:hover figcaption div{transform:translate(0,0) rotate(180deg);}
.test2:hover img,
.test8:hover img{opacity:0.5;}
.test2:hover figcaption p,
.test8:hover figcaption p{transform:translate(0,0);opacity:1;}
/*第三张和第七张图*/

.test3 figcaption p,
.test7 figcaption p{
    transform:skew(60deg) translate(50%,0);
    opacity: 0;
}
.test3:hover img,
.test7:hover img{opacity:0.5;}
.test3:hover figcaption p,
.test7:hover figcaption p{transform:skew(-30deg) translate(-20%,0);opacity: 1;}
/*第四张和第六张图*/
.test4 figcaption p,.test6 figcaption p{opacity:0;}
.test4:hover img,.test6:hover img{opacity:0.5;}
.test4:hover figcaption p,.test6:hover figcaption p{opacity:1;}
/*第五张图*/
.test5 figcaption{width:100%;height:100%;}
.test5 img{
    width: auto!important;
}
.test5 figcaption p{transform:scale(1.2,1.2);opacity:0;}
.test5 figcaption div{
    border:2px solid #fff;
    width:80%;
    height:80%;
    position:absolute;
    top:10%;
    left:10%;
    transform:scale(1.1,1.1);opacity:0;
}
.test5:hover figcaption div{transform:scale(1,1);opacity:1;}
.test5:hover img{opacity:0.5;transform:scale(1.2,1.2);}
.test5:hover figcaption p{transform:scale(1,1);opacity:1;}
/*第五页*/
#slide{
    width: 100%;
    top: 0;
}
#slide .sld{
    width: 20%;
    position: fixed;
    text-align: center;
    border-left: #fff 2px solid;
    border-bottom: #fff 2px solid;
}
.sld span{
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    background-image: -webkit-linear-gradient(top,#2096AD,#eee 100%);
    font-weight: bolder;
}
.sld div{
    height: 280px;
    text-align: center;
    background:url("../images/51.png") #b82830;
    background-size: contain;
    display: none;
    border-right: #fff 2px solid;
    font-family: "微软雅黑";
}
.sld p{
    margin: 0;
    padding: 20px;
    line-height: 30px;
    color: #fff;
    text-align: left;
    text-indent: 30px;
}
.lyq{
    text-align: center;
    margin-top: 42px;
}
.lyq img{
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -3;
}
.lyq .lyq_screen .lyq_mask{
    width: 100%;
    height: 420px;
}
.lyq .lyq_screen .lyq_show div{
    font-size: 24px;
    font-style: inherit;
    font-weight: bold;
    position: absolute;
    left: 23px;
}
.lyq_mask{
    opacity: 0.5;
}
.s_txt{
    width: 400px;
    height: 40px;
    border: 1px solid #bbb;
    border-radius: 5px;
    padding-left: 5px;
    font-size: 17px;
}
.send{
    text-align:center;
}
.s_send,.s_clear{
    width: 68px;
    height: 38px;
    border: 0;
    margin:auto 20px;
    background-image: -webkit-linear-gradient(bottom,#2096AD,#eee 100%);
    font-size: 17px;
}
.s_send:hover,.s_clear:hover{
    cursor: pointer;
    background-image: -webkit-linear-gradient(bottom,#2076cD,#eee 100%);
}
.s_send{

}
/*@media screen and (max-width:520px) {
    .sub h2{
        font-size: 42px;
    }
    .sub p{
        width: 90%;
        left: 10%;
        margin-top: 0;
    }
    .box>a{
        font-size: 13px;
    }
}*/

