html, body{
  min-width: 1000px;
  width: 100%;
  height: 100%;
}

.header{
  position: fixed;
  width: 100%;
  height: 70px;
  z-index: 2;
  background-color: #F9F9F9;
  border-bottom: 1px solid #E6E6E6;
}
.header>p{
  float: left;
  height: 70px;
  margin-left: 100px; 
  line-height: 70px;
  font-size: 26px;
  font-weight: bold;
  color: #1E4264;
}

/*-----------------------------------------第一屏*/
.box{
  width: 100%;
  height: 100%;
}
.back{
  width: 100%;
  height: 100%;
  background: url('../images/1.jpg');
  background-size: 100% 100%;
  background-attachment: fixed;
}
.box>svg{
  position: absolute;
  width: 860px;
  height: 120px;
  padding-top: 20px;
  top: 50%;
  left: 50%;
  margin-top: -120px;
  margin-left: -430px;
  overflow: hidden;
  text-align: center;
}
.type{
  position: absolute;
  top: 500px;
  left: 50%;
  width: 200px;
  height: 50px;
  margin-left: -100px;
  border: 2px solid white;
  color: white;
  cursor: pointer;
}
.type{
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 10px;
}
.type:hover{
  animation: iHover .5s;
  -webkit-animation: iHover .5s;
  background-color: rgba(255, 255, 255, 1);
  color: black;
}
@keyframes iHover{
  from{
   background-color: rgba(0, 0, 0, 0);
  }
  to{
    background-color: rgba(255, 255, 255, 1);
    color: black;
  }
}
.btn1{
  background-color: #297EB2!important;
  border-radius: 10px;
}
.btn1:hover{
  animation: bug .5s!important;
  -webkit-animation: bug .5s!important;
  background-color: #15587E!important;
}
@keyframes bug{
  from{
   background-color: #297EB2;
  }
  to{
    background-color: #15587E;
  }
}
.content{
  width: 100%;
  height: 110%;
}
.content-first{
  width: 100%;
  height: 37%;
}
.content-first>img{
  float: left;
  width: 480px;
  height: 260px;
  margin-top: 10px;
  margin-left: 20px;
}
.content-first-right{
  float: right;
  width: 400px;
  height: 260px;
  margin-top: 10px;
}
.content-first-right>h1{
  font-size: 30px;
  margin-left: 20px;
  margin-top: 10px;
}
.content-first-right>p{
  font-size: 15px;
  margin-top: 20px;
  text-indent: 36px;
  padding: 10px;
}
.content-first-right>div{
  float: left;
  width: 130px;
  height: 40px;
  margin-left: 100px;
  margin-top: 30px;
  background-color: #745CF9;
  color: white;
  cursor: pointer;
}
.content-first-right>div:hover{
  animation: changeColors .5s;
  -webkit-animation: changeColors .5s;
  background-color: #5D47D7;
}
@keyframes changeColors{
  from{background-color: #8EBFEA;}
  to{background-color: #5D47D7;}
}
.content-first-right>div>p{
  width: 100%;
  text-align: center;
  line-height: 40px;
  font-size: 12px;
}

.content-second{
  float: left;
  width: 100%;
  height: 37%;
  background-color: #F5F5F5;
}
.content-second>img{
  float: right;
  width: 480px;
  height: 260px;
  margin-top: 10px;
  margin-right: 20px;
}
.content-second-left{
  float: left;
  width: 400px;
  height: 260px;
  margin-left: 30px;
  margin-top: 10px;
}
.content-second-left>h1{
  font-size: 30px;
  margin-left: 20px;
  margin-top: 10px;
}
.content-second-left>p{
  font-size: 16px;
  margin-top: 20px;
  text-indent: 36px;
  padding: 10px;
}
.content-second-left>div{
  float: left;
  width: 130px;
  height: 40px;
  margin-left: 100px;
  margin-top: 30px;
  background-color: #745CF9;
  color: white;
  cursor: pointer;
}
.btn:hover{
  animation: changeColor .5s;
  -webkit-animation: changeColor .5s;
  background-color: #8EBFEA;
}
@keyframes changeColor{
  from{background-color: rgba(255,255,255,0);}
  to{background-color: rgba(255,255,255,0.3);}
}
.btn>p{
  width: 100%;
  text-align: center;
  line-height: 40px;
  font-size: 12px;
}

.fixed-back{
  width: 100%;
  height: 400px;
  background: url("../images/2.jpg") no-repeat;
  background-attachment: fixed;
  background-size: 100% 200%;
  color: white;
  margin-top: -150px!important;
}
.fixed-back>h1{
  float: left;
  width: 100%;
  text-align: center;
  font-size: 40px;
  margin-top: 50px;
}
.fixed-back>p{
  float: left;
  width: 80%;
  padding: 0 10% 0 10%;
  margin-top: 20px;
  font-size: 18px;
  text-indent: 30px;
  line-height: 28px;
}
.fixed-back>div{
  position: absolute;
  width: 130px;
  height: 40px;
  margin-top: 310px;
  margin-left: -65px;
  left: 50%;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
.fixed-back>div>p{
  width: 100%;
  text-align: center;
  line-height: 40px;
  font-size: 12px;
}
.fixed-back>div:hover{
  animation: changeColor .5s;
  -webkit-animation: changeColor .5s;
  background-color: rgba(255,255,255,0.3);
}


.bar{
  float: left;
  width: 100%;
  height: 320px;
  background-color: #F5F5F5;
  overflow: hidden;
}
.bar>h1{
  float: left;
  width: 100%;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
}
.bar>p{
  float: left;
  width: 80%;
  height: 100px;
  margin-left: 10%;
  text-indent: 30px;
  line-height: 20px;
}
.bar>div{
  position: absolute;
  width: 130px;
  height: 40px;
  margin-left: -65px;
  left: 50%;
  margin-top: 240px;
  margin-bottom: 30px;
  background-color: #745CF9;
  color: white;
  cursor: pointer;
}

.more{
  float: left;
  width: 100%;
  height: 100%;
  color: white;
  background-color: #202020;
}
.more>h1{
  float: left;
  width: 100%;
  height: 30px;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: normal;
}
.more>p{
  float: left;
  width: 90%;
  height: 30px;
  text-align: center;
  margin-left: 5%;
  line-height: 30px;
  font-weight: normal;
  margin-bottom: 50px;
}
.pic-box{
  float: left;
  width: 100%;
}
.pic-box>img{
  float: left;
  width: 25%;
  height: 185px;
}

.message{
  float: left;
  width: 100%;
  height: 60%;
  color: white;
  margin-top: 80px;
  background: url('../images/bar.jpg') no-repeat;
  background-attachment: fixed;
  background-size: 100% 110%;
}
.message>h1{
  float: left;
  width: 100%;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-weight: normal;
}
.message>p{
  float: left;
  width: 70%;
  height: 150px;
  margin-left: 15%;
  text-align: center;
  font-weight: normal;
}
.message>div{
  float: left;
  width: 100%;
}
.message>div>img{
  position: absolute;
  width: 123px;
  left: 50%;
  margin-left: -61.5px;
  border-radius: 100%;
}
.contact{
  float: left;
  width: 100%;
  height: 80px;
  font-size: 40px;
  font-weight: normal;
  background-color: #202020;
}
.contact>p{
  font-size: 24px;
  float: left;
  width: 100%;
  text-align: center;
  line-height: 80px;
  color: #fff;
}

footer{
  float: left;
  width: 100%;
  height: 80px;
  background-color: #202020;
}
.foot_container {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.foot_container>p {
  display: block;
  font-size: 12px;
  margin-top: 30px;
  color: #fff;
}