html,body,nav,div,span,p,form,input,button,ul,li,img,h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
}
body {
	width: 100%;
	font-family:  'Open Sans', sans-serif;
	background-color: #ccc;
}
body a {
	text-decoration: none;
	color: #000;
}
body a:hover {
	text-decoration: none;
	color: #000;
}
h1,h2,h3,h4,h5,h6,p {
	font-weight: 400;
}
nav{
	width: 100%;
	overflow: hidden;
	position: relative;
	background-color: #5A5A5A;
	position: fixed;
	z-index: 999;
}
.navul {
	font-size: 14px;
	font-weight: bolder;
	margin: 0 auto;
	height: 60px;
	overflow: hidden;
	width: 70%;
	margin: 0 auto;
}
.navul a{
	cursor: pointer;
}
.navul li {
	display: inline-block;
	list-style-type: none;
	width: 16%;
	color: #fff;
	line-height: 60px;
	text-align: center;
}
.navul li:hover {
	animation: navHover 1s;
	background-color: #FFA400;
}
@keyframes navHover{
	0% {background-color: #B7B2B2;}
	100% {background-color: #FFA400;}
}

.navul li:hover:before{
	content: "";
	color: red;
	width: 100px;
	height: 100px;
}
/*-------------第1屏----------------*/
#home {
	width: 100%;
	overflow: hidden;
}
.home_container {
	width: 100%;
	margin-top: 60px;
	overflow: hidden;
	height: 100%;
}
.home_bg {
	color: #fff;
	font-weight: bolder;
}
.home_bg img {
	width: 100%;
	height: 100%;
	z-index: -999;
}
.home_bg a {
	color: #fff;
}
.home_bg a:hover {
	color: #FFA400;
}
.home_bg_one,.home_bg_two,.home_bg_three {
	position: absolute;
	width: 100%;
	height: 100%;
}
.home_bg p {
	width: 40%;
	font-size: 32px;
	display: block;
	text-align: center;
	margin-left: 50%;
	position: absolute;
	top: 300px;
	left: -20%;
}
.home_btn{
	width: 15%;
	background-color: #FFA400;
	font-size: 14px;
	height: 35px;
	margin-left: 50%;
	position: absolute;
	top: 550px;
	left: -7.5%;
	text-align: center;
	line-height: 35px;
	z-index: 2;
}
.home_btn p{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	margin-left: 0px;
	font-size: 14px;
}
.home_imgs{
	width: 120%!important;
	height: 98%!important;
	margin-left: -10%;
}
.home_btn:hover{
	animation: iHover 1.5s;
	background-color: #fff;
}
@keyframes iHover{
	from {background-color: #FFA400;}
	to {background-color: #fff;}
}

/*-------------第2屏----------------*/
#experience{
	width: 100%;
	height: 100%;
	background-color: #F9F9F9;
	margin-top: 0;
}
.exp_container,.about_container,.team_container,.mus_container,.adm_container {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

.title{
	width: 80%;
	margin: 30px auto 0;
	font-weight: 400;
	text-align: center;
}

.exp_show{
	width: 100%;
	margin: 0 auto;
}
.exp_show>div {
	width: 25%;
	float: left;
}
.exp_icon img{
	width: 50%;
	margin: 20px auto;
	height: 100px;
	border-radius: 50%;
	line-height: 120px;
	background-color: #FFA400;
}
.exp_icon:hover img{
	transform: rotateZ(360deg);
	transition: all 1s;
	-webkit-transform:rotate(360deg);
}
.exp_container p,.about_container p,.dep_container p,.mus_container p,.adm_container p {
	padding: 20px 10%;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
}
/*-------------第3屏----------------*/
#about {
	width: 100%;
	height: 100%;
	background-color: #fff;
}
.about_container {
	overflow: hidden;
}
.about_left,.about_right {
	margin-top: 30px;
	width: 40%;
	float: left;
	margin-right: 10%;
	text-align: left;
}
.about_container p {
	padding: 10px 0;
}
.about_title p {
	padding: 20px 10%;
}
.about_scale {
	width: 100%;
	margin: 20px 0;
	border-radius: 2.5px;
	background-color: #999999;
}
.about_scale_one {
	width: 88%;
	background-color: #FFA400;
	height: 5px;
}
.about_scale_two {
	width: 90%;
	background-color: #FFA400;
	height: 5px;
}
.about_scale_three {
	width: 91%;
	height: 5px;
	background-color: #FFA400;
}
.about_scale_four {
	width: 92%;
	height: 5px;
	background-color: #FFA400;
}
.about_one{
	width: 88%;
	background-color: #FFA400;
	height: 5px;
	animation: graduate_one 2s;
}
.about_two{
	width: 90%;
	background-color: #FFA400;
	height: 5px;
	animation: graduate_two 2s;
}
.about_three{
	width: 91%;
	background-color: #FFA400;
	height: 5px;
	animation: graduate_three 2s;
}
.about_four{
	width: 92%;
	background-color: #FFA400;
	height: 5px;
	animation: graduate_four 2s;
}
@keyframes graduate_one{
	from {width: 0%;}
	to {width: 88%;}
}
@keyframes graduate_two{
	from {width: 0%;}
	to {width: 90%;}
}
@keyframes graduate_three{
	from {width: 0%;}
	to {width: 91%;}
}
@keyframes graduate_four{
	from {width: 0%;}
	to {width: 92%;}
}

/*-------------第4屏----------------*/
#deputy {
	width: 100%;
	height: 100%;
	background-color: #F9F9F9;
}
.dep_info {
	width: 90%;
	margin: 0 auto;
}
.dep_block {
	width: 20%;
	margin-right: 5%;
	float: left;
}
.dep_block img {
	width: 200px;
	height: 280px;
	display: block;
	cursor: pointer;
}
.dep_photo:hover img{
	opacity: .5;
	transition: .5s;
	/*border-radius: 50%;*/
}
/*.dep_photo:hover .dep_photo>div{
	display: block;
	opacity: .5;
	transition: .5s;
}*/
.dep_mem {
	margin: 20px auto;
	text-align: center;
	height: 45px;
	line-height: 20px;
	font-size: 14px;
	width: 100%;
	color: #FFA400;
	cursor: pointer;
}

/*-------------第5屏----------------*/
#music {
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
}
.mus_imgshow {
	width: 90%;
	margin: 30px auto;
	overflow: hidden;
}
.mus_img {
	width: 23%;
	margin-bottom: 20px;
	margin-right: 2%;
	float: left;
}
.mus_img img {
	display: block;
	width: 100%;
	height: 200px;
	z-index: -999;
}
.mus_txt{
	width: 100%;
	height: 30px;
	font-size: 16px;
	text-align: center;
	color: #FFA400;
	margin-top: 20px;
}

/*-------------第6屏----------------*/
#admire {
	width: 100%;
	height: 620px;
	background: url('../images/00.jpg') no-repeat;
	background-size: 100% 100%;
}
.adm_back{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 2;
	background-color: rgba(35, 35, 35, .7);
}
.adm_container {
	position: absolute;
	width: 80%;
	left: 50%;
	top: 80px;
	margin-left: -40%;
	color: #ffffff;
	z-index: 3;
}
.adm_content {
	position: absolute;
	width: 80%;
	left: 50%;
	margin-left: -40%;
	z-index: 3;
}


footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 80px;
	background-color: #202020;
	z-index: 3;
}
.foot_container {
	width: 50%;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
}
.foot_container>p {
	display: block;
	font-size: 12px;
	margin-top: 30px;
	color: #fff;
}
.gototop{
	position: fixed;
	width: 60px;
	height: 60px;
	line-height: 80px;
	text-align: center;
	border-radius: 50%;
	background-color: #FFA400;
	bottom: 30px;
	right: 5%;
	cursor: pointer;
	z-index: 999;
}


